// variaveis
:root {
    --cor-preto: #0C0421;
    --cor-laranja: #FA9663;
    --cor-branco: #ffffff;
    --cor-gradiente-principal: linear-gradient(180deg, #FFD8C4 0%, rgba(255, 216, 196, 0.50) 49.48%, #FFF 96.87%);
    --cor-gradiente-laranja: linear-gradient(180deg, #FFDAC7 0%, rgba(255, 229, 216, 0.50) 49.48%, #FFF 96.87%);
    --cor-gradiente-card: linear-gradient(180deg, rgba(255, 255, 255, 0.70) 0%, rgba(202, 212, 250, 0.30) 100%);
    --fonte-primaria: "Montserrat", sans-serif;
    --fonte-secundaria: "Krona One", sans-serif;
}