@use '../variaveis';
@use '../mixins';

footer {
    background-color: #FFDBC9;;
    padding: 1.5rem 7.5rem;
    text-align: center;
    @include mixins.ff-fs-cl(var(--fonte-primaria), 1rem, var(--cor-preto));

}